@import '../../sources/styles/variables';

.container {
  // padding: $desktopPadding;
  width: 100%;
  min-height: 600px;
  // align-self: stretch;

  // justify-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $backgroundColor;
}
