@import '../../sources/styles/variables';

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $brandColor;

  @media screen and (max-width: $widgetsEdge) and (min-width: $widgetsRebuildTablet) {
    width: 24px;
    height: 24px;

    span {
      font-size: 16px !important;
    }
  }

  @media screen and (max-width: $widgetsRebuildMobile) {
    width: 24px;
    height: 24px;

    span {
      font-size: 16px !important;
    }
  }

  @media screen and (max-width: $widgetsHideIcons) {
    display: none;
  }

  span {
    font-size: 24px;
    color: white !important;
  }
}
