@import '../../sources/styles/variables';

.welcome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;

  :global {
    .ant-typography {
      margin-top: 0 !important;
    }
  }
}
