$defaultFont: Verdana, sans-serif;
$defaultFontSize: 14px;

$brandColor: #23a6d5;
$backgroundColor: rgb(220, 220, 220);
$backgroundColorDark: rgb(40, 40, 40);

$desktopWidth: 1600px;
$widgetsEdge: 1060px;
$widgetsRebuildTablet: 900px;
$widgetsRebuildMobile: 640px;
$widgetsHideIcons: 450px;
$tabletWidth: 800px;
$mobileWidth: 710px;

$desktopPadding: 20px;
$mobilePadding: 10px;
