$defaultFont: Verdana, sans-serif;
$defaultFontSize: 14px;

$desktopWidth: 740px;
$tabletWidth: 580px;
$mobileWidth: 480px;

$desktopPadding: 30px;
$tabletPadding: 26px 10px;
$mobilePadding: 26px 4px;

$widgetsEdge: 1060px;
$widgetsRebuildTablet: 900px;
$widgetsRebuildMobile: 640px;
$widgetsHideIcons: 450px;

$keyMatched: rgb(177, 255, 197);
$keyMissed: rgb(255, 205, 205);
$keyMatchedDark: rgb(0, 124, 31);
$keyMissedDark: rgb(145, 0, 0);

$gamefieldMatched: rgb(235, 245, 97);
$gamefieldMatchedDark: rgb(238, 214, 0);
$gamefieldMissed: rgb(199, 199, 199);
$gamefieldMissedDark: rgb(139, 139, 139);
$gamefieldExactly: rgb(18, 170, 4);

$cellBorder: rgb(17, 17, 17);
$cellBorderDark: rgb(226, 226, 226);

$backgroundColor: rgb(240, 240, 240);
$backgroundColorAlpha: rgba(220, 220, 220, 0.9);
$backgroundDarkColor: rgb(40, 40, 40);
$backgroundColorDarkAlpha: rgba(40, 40, 40, 0.9);
