@import '../../sources/styles/variables';

.app {
  margin: 0 auto;
  display: flex;
  max-width: $tabletWidth;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
